<%= provide :encoding, @encoding %>
<% if @body %>
  <% b = @body.to_s %>
  <% Rails.logger.info("Encoding: #{b.encoding}") %>
  <%= render inline: b %>
<% else %>
  <h2 style="text-align: center"><%= t('title') %></h2>
  <p><%= raw(t('blurb')) %></p>
<% end %>