// Place all the styles related to the browser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-family: Georgia,Palatino,"Palatino Linotype",FreeSerif,serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #000;
  background-color: #fafafa;
  font-size: 20px;
}

body {

  padding-bottom: 64px;
}

p, div {
  line-height: 30px;
  margin-bottom: 1ex;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
  margin-bottom: 1ex;
}

input {
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;

  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(85, 85, 85);
  border-radius: 4px 0px 0px 4px;

  .browser & {
    width: 640px;
    padding-left: 28px;
  }
}

a {
  color: #0088cc;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #005580;
    text-decoration: underline;
  }
  .logo {
    color: black;
  }
}

code,
pre {
  background-color: #fafafa;
  border: solid black 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: scroll;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

hr + h1 {
  padding-left: 60px;
  padding-right: 60px;
}

img {
  clear: both;
  float: left;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.logo {
  float: left;
  text-shadow: 1px 1px 0px #ffffff;
  vertical-align: middle;
  margin-bottom: 10px;
  font-size: 24px;
  letter-spacing: 6px;
  font-weight: 400;
  .idot {
    position: absolute;
    font-size: 120%;
    margin-left: -17px;
    margin-right: -3px;
    top: 8px;
    color: red;
  }
}

.browser {
  float: right;
  margin-bottom: 10px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}

.browser .btn:last-child {
  margin-left: -1px;
  border-radius: 0px 4px 4px 0px;
  vertical-align: top;
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: rgb(51, 51, 51);
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
    background-color: whitesmoke;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230));
    background-repeat: repeat-x;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(179, 179, 179);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.bookmarklet {
  cursor: move;
  line-height: 30px;
  font-size: 24px;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  clear: both;
  background-color: white;
  padding-top: 8px;
  padding-left: 48px;
  padding-right: 48px;
}
